circle {
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: #0B3140;
    fill: #F2AF88;
    opacity: 0.2;
}

circle:hover {
    stroke: yellow;
    stroke-width: 4px;
}